@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Style for Navigation Bar */
.navbar {
    position: relative;
    width: 100%;
    padding: 30px 0;
    font-family: "Montserrat", sans-serif;
    background: tomato;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a:hover {
    color: yellow;
}

.navbar .logo a span {
    color: white;
}

.navbar .logo a span:hover {
    color: gray;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 18px;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover {
    color: plum;
}

/* Style for Home Section */
.home {
    display: flex;
    background: url("images/banner2.jpg") no-repeat center;
    height: 100vh;
    color: red;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}

.home .max-width {
    margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
    font-size: 55px;
}

.home .home-content .text-2 {
    font-size: 85px;
    font-weight: 700;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 85px;
    font-weight: 700;
}

.home .home-content a {
    display: inline-block;
    background: red;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.5s linear;
}

.home .home-content a:hover {
    color: white;
    background: turquoise;
}

/* Style for About Section */
section {
    padding: 100px 0;
}

.about {
    font-family: "Montserrat", sans-serif;
}

.about .title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 300px;
    width: 300px;
    border-radius: 18px; 
    object-fit: cover;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    margin-bottom: 18px;
}

.about .about-content .right p {
    font-size: 20px;
    text-align: justify;
}

/* Styles for Media Section */
.media .title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.media {
    color: black;
    background: tomato;
}

.media .media-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.media .media-content .card {
    width: calc(33% - 20px);
    color: black;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
}

.media .media-content .card:hover {
    background: aqua;
}

.media .media-content .card .box {
    transition: all 0.3s ease;
}

.media .media-content .card .box:hover {
    transform: scale(1.05);
}

.media .media-content .card img {
    height: 75px;
    width: 75px;
}

.media .media-content .text {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.media .media-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.podcast .title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.podcast {
    color: black;
    background: tomato;
}
 
.podcast p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}    
.video-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .video {
            flex: 1 1 30%;
            margin: 10px;
        }
        iframe {
            width: 100%;
            height: 315px;
        }
.events .title {
    font-family: "Montserrat", sans-serif;
    color: tomato;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}

.events p {
    color: tomato;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.fb-posts-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .fb-post {
            margin: 10px;
            flex: 1 1 30%;
        }
