@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Style for Navigation Bar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: "Montserrat", sans-serif;
    background: turquoise;
    z-index: 1;
}
.navbar.sticky {
    padding: 15px;
    background: tomato; 
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a:hover {
    color: yellow;
}
.navbar .logo a span {
    color: white;
}
.navbar .logo a span:hover {
    color: gray;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 18px;
    transition: all 0.3s ease;
}

.navbar .menu li a:hover {
    color: gray;
}
/* Menu Button */
.menu-btn {
    cursor: pointer;
}

/* Style for Home Section */
.home {
    display: flex;
    background: url("images/banner3.jpg") no-repeat center;
    height: 100vh;
    color: red;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
}

.home .max-width {
    margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
    font-size: 55px;
}

.home .home-content .text-2 {
    font-size: 85px;
    font-weight: 700;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 85px;
    font-weight: 700;
}

.home .home-content a {
    display: inline-block;
    background: red;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.5s linear;
}

.home .home-content a:hover {
    color: white;
    background: turquoise;
}

/* Style for About Section */
section {
    padding: 100px 0;
}

.about {
    display: flex;
    background: url("images/banner-4.jpg") no-repeat center;
    background-size: cover;
    background-attachment: scroll;
    font-family: "Montserrat", sans-serif;
}

.about .title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 300px;
    width: 300px;
    border-radius: 18px; 
    object-fit: cover;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    margin-bottom: 18px;
}

.about .about-content .right p {
    font-size: 20px;
    text-align: justify;
}

/* Styles for Pastors Section */
.pastors .title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.pastors {
    color: black;
    background: tomato;
}

.pastors .pastors-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pastors .pastors-content .card {
    width: calc(33% - 20px);
    color: black;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
}

.pastors .pastors-content .card:hover {
    background: aqua;
}

.pastors .pastors-content .card .box {
    transition: all 0.3s ease;
}

.pastors .pastors-content .card .box:hover {
    transform: scale(1.05);
}

.pastors .pastors-content .card img {
    height: 75px;
    width: 75px;
}

.pastors .pastors-content .text {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.pastors .pastors-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
/* Styles for Podcast Section */
.podcast .title {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.podcast {
    color: black;
    background: tomato;
}
.podcast a {
    color: white;
}
 
.podcast p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}    
.video-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .video {
            flex: 1 1 30%;
            margin: 10px;
            overflow: hidden;
            border-radius: 10px;
        }
        iframe {
            width: 100%;
            height: 315px;
            border-radius: 10px;
        }
/* Styles for Events Section */
.events .title {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.events {
    display: flex;
    background: url("images/computer-mouse.jpg") no-repeat center;
    background-attachment: scroll;
    justify-content: space-around;
    align-items: center;
}
.events iframe {
    width: 500px;
    height: 400px;
}
.events p {
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.fb-posts-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .fb-post {
            margin: 10px;
            flex: 1 1 30%;
        }
/* Style for Connect Section */
.connect {
    display: flex;
    background: url("images/banner-5.jpg") no-repeat center;
    background-size: cover;
    background-attachment: scroll;
    font-family: "Montserrat", sans-serif;
}
.connect .title {
    color: tomato;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.connect .connect-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.connect .connect-content .column {
    width: calc(50% - 30px)
}
.connect .connect-content .column .text {
    color: red;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.connect .connect-content .left p {
    font-size: 18px;
    text-align: justify;
}
.connect .connect-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.connect .connect-content .row .info {
    margin-left: 30px;
}
.connect .connect-content .left img {
    height: 20px;
    width: 20px;
}
.connect .connect-content .info .head {
    color: red;
    font-weight: 600;
    padding: 5px 0; 
}
.connect .connect-content .info .sub-title {
font-weight: 600;
}
.connect .right form .fields {
    display: flex;
}
.connect .right form .field,
.connect .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}
.connect .right form .textarea {
    height: 80px;
    width: 100%;
}
.connect .right form .name {
    margin-right: 10px;
}
.connect .right form .email {
    margin-left: 10px;
}
.connect .right form .field input,
.connect .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
}
.connect .right form .field input:focus,
.connect .right form .textarea textarea:focus {
    border-color: tomato;
}
.connect .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}
.connect .right form .button {
    height: 50px;
    width: 180px;
}
.connect .right form .button button {
    width: 100%;
    height: 100%;
    background: tomato;
    border: 2px solid red;
    outline: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer; 
}
.connect .right form .button button:hover {
    color: white;
    border: 2px solid white;
    background: turquoise;
}
/* Style for Footer Section */
footer {
    font-family: 'montserrat', sans-serif;
    color: white;
    background: black;
    text-align: center;
    padding: 15px 25px;
}
footer span a {
    color: tomato;
}
footer span a:hover {
    text-decoration: underline;
}

/* Responsive Media Query */
/* Default styles */


/* For screens smaller than 1920px */
@media (max-width: 1920px) {
    .home .max-width {
        margin-left: 0px;
    }
}
.menu-btn {
    display: none;
    z-index: 999;
}
/* For screens smaller than 1104px */
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

/* For screens smaller than 991px */
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

/* For screens smaller than 947px */
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        height: 80vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        opacity: 85%;
        text-align: center; 
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 10px;
        font-size: 25px;
    }
    .navbar .logo a {
        font-size: 30px;
    }
    .home .home-content .text-1 {
        font-size: 35px;
    }
    .home .home-content .text-2 {
        font-size: 35px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 18px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .pastors .pastors-content .card {
        width: calc(50% - 10px);
        margin-bottom: 35px;
    }    
    .podcast .podcast-content .video {
        width: 100%;
    } 
    .podcast .podcast-content p {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }    
    .podcast .podcast-content .column,
    .connect .connect-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

/* For screens smaller than 690px */
@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .pastors .pastors-content .card {
        width: 100%;
    }
}

/* For screens smaller than 500px */
@media (max-width: 500px) {
    .connect .right form .fields {
        flex-direction: column;
    }
    .connect .right form .name,
    .connect .right form .email {
        margin: 0;
    }
}
